/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*==================================================

Custom Style

===================================================*/



/*===================

General Styling

===================*/

:root{
    --button-color:#F7434D;
}

body{
    font-family: 'Balsamiq Sans', cursive;
    max-width: 100%;

}
*,*::before,*::after{
    box-sizing: border-box;
}


/*============================== Header Part=================================*/



.header-cn{
    display: flex;
    padding: 3%;
    font-size: 20px;
    align-items: baseline;

  
   
    
}
.logo{
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: white;
    
}

.header i{
    font-size: 35px;
    display: none;
}

.header .toggle{
    display: none;
}
.nav-bar{
    margin-left: auto;
  
}

.nav-items li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    
}
.nav-items li{
    display: inline;
    padding-left: .8em;
  

}
.nav-items li:nth-child(5){
    background-color: var(--button-color);
    padding: .7em 1em;
    margin-left: 1em;
    border-radius: 5px;
}


/*======================================================

Main Part

======================================================*/

/*------------Conatiner-2-------------------------*/

.banner-cn{
 
    height: 37em;
    background:linear-gradient(rgba(68,88,176,0.9),rgba(68,88,176,0.9)),url('../media/01.png');
  
    position: relative;
    top: -7.2em;
    z-index: -1;
    width: 100%;
    height: 42rem;
   width:100%;
      
}
.banner{
  
    display: flex;
   justify-content: space-between;
   align-items: center;
    padding: 3% 3% 0 3%;
   position: absolute;
   top: 6em;
    padding-bottom: 0%; 
    color: white; 
    line-break: 1.5em;
    max-width: 100%;
}
.bn-col-1{
    flex: 0 1 70%;
    margin-right: 7em;
}
.bn-col-2{
    flex: 0 1 30%;
}

.bn-col-1 h1{
    font-size: 50px;
    line-height: 1.4em;
    padding-bottom: 1em;
    font-weight: 600;
    
}
.bn-col-1 h1 span{
    padding-left: .3em;
    color: var(--button-color);
}

.bn-col-1 p{
    font-size: 22px;
    line-height: 1.5em;
}


.btn{
    background-color: var(--button-color);
    text-decoration: none;
    color: white;
    padding: 1.1em 2.6em;
    display: inline-block;
    margin-top: 2em;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.banner-cn .cn2-img{
  
    position: absolute;
    background-image: url('../media/01.png');
    top: 0;
    z-index: -1;

}


/*---------------Container-3---------------------------*/


.abt-event{
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}
.cn3-col{
    flex: 0 1;
}
.cn3-col-1{
    flex: 0 1 55%;
}
.cn3-col-2{
    flex: 0 1 45%;
}

.cn3-col-2 h2{
    font-size: 45px;
    text-transform: uppercase;
    padding-bottom: .5em;
    font-weight: 600;
}
.cn3-col-2 p{
    font-size: 18px;
    line-height: 1.4em;
    color: gray;
   
}

.cn3-col-2 .btn-1{
    padding: 1em 1.5em;
}


/*----------------Container-4------------------------*/

.why-join-cn{
    background-color: #DFEBFE;
    padding: 2em;
    width: 100%;
   
}
.why-join-cn h3{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 1em;
}
.cn4-col{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.cn4-col-1-3{
    flex: 0 1 31%;
    padding: 1em;
    border: 2px dashed red;
    margin-right: 1em;
}

.cn4-col-1-3 h2{
    font-size: 35px;
    padding-bottom: .5em;
    font-weight: 600;
}

.cn4-col-1-3 p{
    color: gray;
    line-height: 1.4em;
    font-size: 17px;
}
.cn4-col-1-3::before{
   
    background-color:#DFEBFE;
    position: relative;
    top: -1em;
    left: .5em;
    font-size: 35px;
    padding: .2em;
    color: #F7434D;
}
.cn4-col-1::before{
    content: '1';
}
.cn4-col-2::before{
    content: '2';
}
.cn4-col-3::before{
    content: '3';
}

/*------------------Container-5--------------------*/

.schedule-cn{
    padding: 3em;
}
.flex-1{
    display: flex;
    justify-content: space-between;
  
}
.schedule-cn h2{
    text-align: center;
    font-size: 45px;
    padding-bottom: 1em;
}

.flex .num-circle{
    font-size: 30px;
    color: var(--button-color);
    font-weight: 600;
   width: 4em;
   height: 4em;
  padding-top: 1em;
  margin-bottom: 2em;
   border-radius: 50%;
   background-color: white;
    border: 2px dashed var(--button-color);
}

.flex .circle-1{
background-color: var(--button-color);
color: white;
}

.dashed-line{
    width: 0.1em;
    border: 2px dashed var(--button-color);
    position: relative;
    left: -11.2em;
    z-index: -1;
    height: 40em;
}


.flex{
    display: flex;
    flex-direction: column;
    display: inline-block;
   text-align: center;
    align-items: center;
   flex-basis: 20%;
}

.img-col{
    flex-basis: 25%;
   
}
.img-col img{
    width: 10rem;
}

.img-row{
    margin-bottom: 4.5em;
}




.content-col{
    flex-basis: 60%;
}

.ct-row{
    margin-bottom: 3.3em;
}
.ct-row h3{
    font-size: 30px;
    padding-bottom: 1em;
    font-weight: 600;
}
.ct-row p{
    font-size: 18px;
    color: gray;
    padding-bottom: 2em;
}

.ct-row-btn{
    position: relative;
    top: -3em;
}




/*----------------------------container-6-----------------------*/


.counting-cn{
    background-color:#DFEBFE;
   padding: 5%;
}
.count img{
    width: 6em;
}
.count{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.cn6-col{
text-align: center;
}
.cn6-col h3{
    font-size: 35px;
    font-weight: 700;
    padding: .5em 0 .8em 0;
}
.cn6-col h4{
    font-size: 27px;
}
.cn6-col-2{
    background-color: var(--button-color);
    padding: 1.5em 5em;
    border-radius:.7em;
    color: white;
}


/*-------------Container-7-----------------*/

.video-cn{
    padding: 5%;
    text-align: center;
}
.video-cn .img img{
    width:78em;
    border-radius: 1.5em;
}
.video-cn .icon{
    background-color: white;
    position: relative;
    top: -24em;
    display: inline-block;
    padding: 2em 2em 2em 2.1em;
    border-radius: 50%;
}

.video-cn .icon img{
    width: 2em;
}



/*------------Container-8-----------------*/



.latest-news-cn{
    padding: 3%;
    background-color:#DFEBFE ;
}


.latest-news-cn h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: .8em;
}

.cn8-col-1-3{
    display: flex;
    justify-content: space-between;
}


.cn8-col-1-3 .cn8-col{
    flex-basis: 30%;
 
}

.cn8-col .head{
    font-size: 23px;
    font-weight: 600;
    margin: .5em 0 .5em 0;
    display: inline-block;
    text-decoration: none;
    line-height: 1.3em;
    color: black;
}
.cn8-col p{
    font-size: 18px;
    color: gray;
    padding: .5em 0 .5em 0;
}

.cn8-col .link{
    font-size: 23px;
    color: black;
    padding: .5em 0 .5em 0;
    display: inline-block;
}
.cn8-col .link-2{
    color: var(--button-color);
}


/*=================================================

Footer Part


================================================*/

.foot-head{
    background-color: #23387B;
    display: flex;
    justify-content: space-between;
    padding: 4em;
    color: white;
  
}
.icon-logo i{
   font-size: 30px;
}
.icon-logo a{
    text-decoration:none;
    color: #BCC0D2;
}

.logo{
    flex-basis: 30%;
}
.icon-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}
.nav{
    display: flex;
   
    flex-basis: 67%;
}


.nav-links h3{
    font-size: 30px;
    padding-bottom: .8em;
}

.nav-links{
    padding-right: 5em;
}

.foot-nav-items{
    display: flex;
  
}
.foot-nav-items a{
    padding-right: .9em;
    text-decoration:none;
    color: lightgray;
    font-size: 18px;
}

.footer{
    text-align: center;
    padding: 2em;
    font-size: 20px;
    background-color: #172F69;
    color: gray;
}



/*==================================

Media Queries

===================================*/




@media screen  and (max-width:768px){
    .flex-common{
        display: flex;
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    main{
        width: 100%;
    }
    .container-2,.container-3{
        width: 100%;
    }
     .nav-bar .nav-items{
         display: none;
         position: absolute;
         background-color: #4E5FB6;
         left: 0;
         bottom: 0;
         top: 0;
         right: 0;
         padding:5em ;


     }

     
     #toggle{
         display: inline-block;
     }
    #toggle:checked ~ .nav-bar .nav-items{
        display: flex;
    }
    .nav-items{
        flex-direction: column;
    }
   
}








